header {
  direction: rtl;
  text-align: right;
  margin: 1.5rem 1.5rem 1.5rem 0rem;
}

.add-meal-btn {
  font-size: 1.8rem;
  color: var(--color-grey-100);
  background-color: var(--color-blue-600);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-meal-btn .add-meal-btn__text {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.add-meal-btn .add-meal-btn__icon {
  font-size: 2.5rem;
  background-color: var(--color-blue-700);
  padding: 0.3rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meals {
  width: auto;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
  background-color: var(--color-grey-700);
  border-right: 2px solid var(--color-brand-100);

  display: flex;
  align-items: center;
}

.meals .meal__info {
  font-size: 1.8rem;
  color: var(--color-grey-100);
  width: 100%;
  padding: 0rem 1rem;
  text-align: right;
  direction: rtl;
}

/*
.meal-drag {
  font-size: 2.5rem;
  color: var(--color-grey-100);
  width: 15%;
  height: 100%;
  cursor: move;

  display: flex;
  justify-content: center;
}

 .meal-dragging {
  opacity: 0.5;
} */

.add-meal__form {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: fit-content;
  padding: 1rem;
  background-color: var(--color-grey-800);
  z-index: 1;
  text-align: right;
  border: var(--color-grey-600) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  display: flex;
  flex-direction: column;

  transition: all 0.2s;
}

.add-meal__form-title {
  font-size: 2rem;
  color: var(--color-grey-100);
  text-align: center;
}

.add-meal__form input,
.add-meal__form textarea {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: var(--color-brand-100);
  border-bottom: 1px solid var(--color-brand-100);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background: none;
  direction: rtl;
}

.add-meal__form input::placeholder,
.add-meal__form textarea::placeholder {
  color: var(--color-grey-400);
  text-align: right;
}

.form-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-meal__form button {
  font-size: 1.5rem;
  color: var(--color-brand-100);
  transition: all 0.3s;
  padding: 1.3rem;
  margin-top: 1rem;
}

.add-meal__form .submit-form {
  background-color: var(--color-green-500);
}

.add-meal__form .submit-form:hover,
.add-meal__form .submit-form:active {
  background-color: var(--color-green-600);
}

.add-meal__form .cancel-form {
  background-color: var(--color-red-700);
}

.add-meal__form .cancel-form:hover,
.add-meal__form .cancel-form:active {
  background-color: var(--color-red-800);
}

.meal-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  background-color: var(--color-grey-800);
  width: 90%;
  max-width: 50rem;
  padding: 2rem;
  text-align: right;
  direction: rtl;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.meal-details__info {
  font-size: 1.5rem;
  display: grid;
}

.meal-details__info .meal-details__info-name {
  font-size: 2.5rem;
}

.meal-details__info .meal-details__info-desc {
  font-size: 1.9rem;
  /* margin: 1rem 0; */
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.meal-details__info .meal-details__info-kcal,
.meal-details__info .meal-details__info-prot,
.meal-details__info .meal-details__info-carb,
.meal-details__info .meal-details__info-fat {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.meal-details__btns {
  display: flex;
  flex-direction: column;
}

.meal-details__btns button {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  padding: 1rem 0rem;
  margin-top: 1rem;
}

.meal-details__btns-eat {
  background-color: var(--color-blue-600);
}

.meal-details__btns-cancel {
  background-color: var(--color-red-700);
}

.meal-details__btns-delete {
  border: 1px solid var(--color-brand-100);
}